<footer>
    <div class="footdivText" >
    
        <a routerLink="temsOfservice">
          <button style="font-size: 18px;">Terms of Service</button>
        </a>
      
      <span style="font-size: 18px;">
        |
      </span>
      <span>
        <a  href="privacyPolicy">
          <button style="font-size: 18px;">Privacy Policy</button>
        </a>
      </span>
      <span style="font-size: 18px;">
        |
      </span>
      <span>
        <a routerLink="">
         <button style="font-size: 18px;">#</button>
        </a>
      </span>
      <div class="footdivText" style="text-align: right;">
        <span style="font-size: 20px;">
          Follow Us on:
        </span>
        <span>
          <a href="https://www.facebook.com/" target="_blank">
            <button >
              <i class="icon bi bi-facebook"></i>
              

            </button>
          
          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <button >
              <i class="icon bi bi-twitter"></i>
            </button>
      
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <button >
              <i class="icon bi bi-instagram"></i>
            </button>
          </a>

          <a href="https://www.linkedin.com/" target="_blank">
            <button >
              <i class="icon bi bi-linkedin"></i>
            </button>
      
          </a>



        </span>
      </div>
    </div>
    <div class="container">
      <section class="mt-5">
        <div class="row text-center d-flex justify-content-center pt-5">
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">About us</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Products</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Awards</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Help</a>
            </h6>
          </div>
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="my-5" />

      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat voluptatibus placeat nam,
              commodi optio pariatur est quia magnam eum harum corrupti
              dicta, aliquam sequi voluptate quas.
            </p>
          </div>
        </div>
      </section>

      
      
    </div>
    <div style="text-align: center;">
    <span >
      Copyright &copy; 2023. All Rights Reserved
    </span>
  </div>
</footer>



