<div style="display: grid; place-items: center;">
  <div class="section-title">
    <h2>Add Memebers</h2>
  </div>
  <br>
  <button style="right: 0; position: absolute;" (click)="AddMemeber()">Add Member  <i class="bi bi-person-add"></i></button>
  <div class="card" style="display: flex;" *ngFor="let Member of Members; let i = index">
    
    <div>
      <div class="name"><i class="bi bi-person-check"></i> {{Member.name}}</div>
      <br>
      <div class="phone"><i class="bi bi-telephone"></i> {{Member.mobile}}</div>
    </div>
    <br>
    <div (click)="RemoveMember(i)">
      <i class="bi bi-trash3"></i>
    </div>
    
  </div>

  <div class="card" *ngIf="addMemeber">
    <h2> Add Member Detail</h2>
    <div class="input-field">
      <input type="text" [(ngModel)]="Name" onkeydown="return /[a-zA-Z ]/i.test(event.key)"  required>
      <label>Enter your Name</label>
  </div>
    <div class="input-field">
      <input type="number" [(ngModel)]="Mobile" onKeyPress="if(this.value.length>9) return false;" required>
      <label>Enter your Mobile Number</label>
    </div>

    <button (click)="SaveMemeber()">Save Memeber  <i class="bi bi-person-add"></i></button>
  </div>
</div>

  
