<div style="display: grid; place-items: center;">
  <div data-aos="fade-right" class="section-title">
    <h2>Add Memebers</h2>
  </div>
  <br>
  <button style="right: 8px; position: absolute;" (click)="AddMemeber()">Add Member  <i class="bi bi-person-add"></i></button>
  
  <div class="card" *ngIf="Members[0].id == -1 && Members[1].id == -1 && Members[2].id == -1"><br><br> No Members Added.
    <br><br><br><br>
    Please Add Members by Clicking Add Member Button
    <br><br><br><br>
  </div>
  <ng-container *ngFor="let Member of Members; let i = index">
    <div *ngIf="Member.id !== -1"  data-aos="fade-left" class="card" style="display: flex;" >
    
      <div>
        <div class="name"><i class="bi bi-person-check"></i>&nbsp;&nbsp; {{Member.name}}</div>
        <br>
        <div class="phone"><i class="bi bi-telephone"></i>&nbsp;&nbsp; {{Member.mobile}}</div>
      </div>
      <br>
      <div (click)="RemoveMember(i)">
        <i class="bi bi-trash3"></i>
      </div>
      
    </div>
  </ng-container>

  

  <!-- Add Member Card -->
  <div data-aos="fade-right" class="card" *ngIf="addMemeber">
    <h2> Add Member Detail</h2>
    <div class="input-field">
      <input type="text" [(ngModel)]="Name" onkeydown="return /[a-zA-Z ]/i.test(event.key)"  required>
      <label>Enter your Name</label>
  </div>
    <div class="input-field">
      <input type="number" [(ngModel)]="Mobile" onKeyPress="if(this.value.length>9) return false;" required>
      <label>Enter your Mobile Number</label>
    </div>

    <button (click)="SaveMemeber()">Save Memeber  <i class="bi bi-person-add"></i></button>
  </div>
</div>

  
