

<!-- <h1>Angular 8 Toastr Notifications Example - ItSolutionStuff.com</h1>
  
<button (click)="showToasterSuccess()">
    Success Toaster
</button>  -->
 
<!-- <button (click)="showToasterError()">
    Error Toaster
</button>
  
<button (click)="showToasterInfo()">
    Info Toaster
</button>
  
<button (click)="showToasterWarning()">
    Warning Toaster
</button> -->









    <div data-aos="fade-right" data-aos-duration="2000" class="container">
        <h1>404</h1>
        <p>Page not found</p>
        <p>Sorry, the page you are looking for might have been removed or does not exist.</p>
        <p>Go back to <a href="/">homepage</a></p>
    </div>

