<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Map</h2>
    </div>
    <div data-aos="fade-left" *ngIf="ServiceProvider != null && type == 'Service User'" id="card">
      <h4> Service Provider</h4>
      <div id="text">{{ServiceProvider.name}} <br>
        +91 - {{ServiceProvider.mobile}} <br>

      </div>
      <div class="butn">
        <button> <i class="bi bi-telephone"></i> Call</button>
        <button (click)="DropAlert()"> <i class="bi bi-shield-check"></i> Drop Alert </button>
      </div>
    </div>
    <div data-aos="fade-left" *ngIf="ServiceProvider != null && type != 'Service User'" id="card">
      <h4> Service User</h4>
      <div id="text">
        +91 - {{ServiceProvider.user_mobile}} <br>

        User Needs your Help

      </div>
      <div class="butn">
        <button> <i class="bi bi-telephone"></i> Call</button>
        <button (click)="DropAlert()"> <i class="bi bi-shield-check"></i> Drop Alert </button>
      </div>
    </div>
    <div data-aos="fade-right" id="map">
    </div>
  </div>
</section>