<form class="form card">
    <div class="card_header">
     
      <h1 class="form_heading">Create Alert Message</h1>
    </div>
    <div class="field">
      <label for="username">Create Alert</label>
      <input class="input" name="username" type="text" placeholder="Alert Name" id="username">
    </div>
    <div class="field">
      <label for="password">Create Alert Message</label>
      <textarea class="input" name="user_password" type="password" placeholder="Alert Message" id="password"rows="5" cols="50">
     </textarea> 
    </div>
    
    <div class="field">
      <button class="button">Create</button>
    </div>
  </form>