<div class="body">

  <form [formGroup]="loginForm">
    <div data-aos="flip-right" data-aos-duration="2000" class="wrapper">
      <h2>Login</h2>

      <div class="input-field" [class.error]="loginForm.controls['UserMobile'].dirty && loginForm.hasError('required', 'UserMobile')">
        <input formControlName="UserMobile" type="number" ngModel maxlength="10" onKeyPress="if(this.value.length>9) return false;" [(ngModel)]="UserMobile" required>
        <label>Enter your Mobile Number</label>
      </div>
      <small *ngIf="loginForm.controls['UserMobile'].dirty && loginForm.hasError('required', 'UserMobile')" class="text-danger">*This field is Required<br></small>
      <button  type="submit" (click)="GenerateOtpLogin()">Get OTP</button>
      <br>

      <div class="input-field" [class.error]="loginForm.controls['UserMobile'].dirty && loginForm.hasError('required', 'UserMobile')">
        <input formControlName="EnteredOTP" type="password"  ngModel maxlength="4"  [(ngModel)]="EnteredOTP" required>
        <label>Enter your OTP</label>
        <!-- <span class="fa fa-eye-slash"></span> -->
      </div>
      <small *ngIf="loginForm.controls['EnteredOTP'].dirty && loginForm.hasError('required', 'EnteredOTP')" class="text-danger">*This field is Required</small>
      
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
      </div>
      <button type="submit" (click)="verifyLoginOtp()">Log In</button>

      <div class="register">
        <p>Don't have an account? <button value="signup" (click)="GoToSignUpPage()">
            Sign Up
        </button></p>
      </div>
      {{sentOtp}}
    </div>
  </form>
</div>
