
<div style="text-align: center;">
    

    <div class="mainDiv conatainer">

        <p style="padding-top: 30px; font-size: 45px; font-weight: bold;">
            Contact Us

        </p>
        <div style="font-size: 30px; font-weight: bold;">
            We are Always present here to Help You!
        </div><br>
        <div class="bodyDiv">
            
            <div data-aos="flip-right" data-aos-duration="1000" class="bodyP1 bg-image" >
                <br>
                <br><br>

                <div style="font-size: 30px; font-weight: bold;">
                    Contact Info
                </div>
                <div style="font-size: 20px; font-weight: bold;">
                    <br>
                    Email : dangeralertsystem@gmail.com
                    <br><br>
                    Contact No : 9876543210
                    <br><br>
                    Address : xyz (Project Work), SRMCEM, Lucknow 
                    <br><br>
                    <ul>
                        <!-- Project Developer - -->
                        <li>
                            Krishna Mohan
                        </li>
                        <li>
                            Harsh Singh
                        </li>
                    </ul>

                </div>
                
                

            </div>
            <div data-aos="flip-left" data-aos-duration="1000" class="bodyP1" style="margin-left: 0px;">
                    <div class="wrapper">
                        <h2>Contact Us</h2>
                    
                          <div class="input-field">
                          <input type="number" ngModel maxlength="10" onKeyPress="if(this.value.length>9) return false;" [(ngModel)]="mobile" required>
                          <label>Enter your Mobile Number</label>
                        </div>
                    
                        <div class="input-field">
                          <input type="text" [(ngModel)]="name"  required>
                          <label>Enter your name</label>
                        </div>
                        <div class="input-field">
                            <textarea rows="4" cols="36"  [(ngModel)]="message"></textarea>
                          <label>Enter your Message</label>
                        </div>
                        <div class="forget">
                          <label for="remember">
                            <input type="checkbox" id="remember">
                            <p>Subscribe to Newsletter</p>
                          </label>
                        </div>
                        
                        <button type="submit" >Send Message</button>
                        
                    </div>
            </div>
        </div>  
    </div>

</div>
