<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>


<body class="bgr">
  <app-navigation></app-navigation>


  <div style="margin-top: 7.8vh;  "> 
    <router-outlet></router-outlet>
    <div class="spinner" *ngIf="displayLoadingIndicator"></div>
  </div>


  <app-footer></app-footer>
</body>