<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Danger Alert System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
</head>


<body class="bgr">
  <!-- <div style="border: 2px solid blue;" > -->
    <app-navigation></app-navigation>
  <!-- </div> -->

  <div style="margin-top: 7.8vh; "> 
        <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script> -->
      
      <router-outlet></router-outlet>

  </div>

  <app-footer></app-footer>
</body>