@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.bgr{
    font-family: "Open Sans", sans-serif;
    background-color: rgb(1, 25, 36);
    color: white;
    font-size: 18px;
    font-style: bold;
    /* max-width: 100%;
    overflow-x: hidden; */
}
nav{
    background-color: black;
    height: 8%;
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 10000;
}
button{
    background-color: black;
    border: 2px solid black;
    margin-top: 2px;
    color: grey;
    padding: 6px;
    border-radius: 10px;
    font-size: 17px;
}
span{
    text-align: right;
    padding: 4px;
}
button:hover{
    color:white;
    .icon{
        color: rgb(54, 184, 228);
    }
}
button:active{
    color: red;
}

.bttn{
    background-color: black;
    border: 2px solid black;
    margin-top: 3px;
    color: grey;
    padding: 1px;
    font-size: 16px;
    text-decoration:none;
    

}
.bttn:hover { 
    color: white;
    .icon{
        color: rgb(37, 172, 218);
    }

}
.bttn:active{
    color: white;
}  

.actv{
    color: white;
    .icon{
        color: rgb(54, 184, 228);
    }
}

.spinner{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid white;
    border-top-color: blue;
    animation: spin 1s linear infinite;
    top: 50%;
    left: 50%;
    position: fixed;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


