<br>
<div class="body">
    
    <div data-aos="flip-right" data-aos-duration="1500"  class="wrapper">
        <h2>Registration</h2>
        <div class="input-field" >
            <label for="type" *ngIf="!AccountType">Account Type</label>
            <select [(ngModel)]="AccountType" name="Type" id = "type" required>
                <option value="User">Service User</option>
                <option value="Provider">Service Provider</option>
            </select>
        </div>

        <div *ngIf="AccountType == 'Provider'" class="input-field" >
            <label for="department" *ngIf="!Department">Department</label>
            <select [(ngModel)]="Department" name="Department" id = "department" required>
                <option value="medical">Medical Department</option>
                <option value="police">Police Department</option>
                <option value="fire">Fire Department</option>
                <option value="traffic">Accident Department</option>
            </select>
        </div>

        <div class="input-field">
            <input type="text" name="uname" onkeydown="return /[a-zA-Z ]/i.test(event.key)" [(ngModel)]="UserName" required>
            <label>Enter your Name</label>
        </div>
        <div class="input-field">
            <input type="number" [(ngModel)]="UserAge" required>
            <label>Enter your Age</label>
        </div>

        <div class="input-field">
            <input type="email" ngModel email="true" [(ngModel)]="UserEmail" required>
            <label>Enter Email</label>
        </div>
        <div class="input-field" >
            <label for="gender" *ngIf="!UserGender">Gender</label>
            <select [(ngModel)]="UserGender" name="Gender" id = "gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                
            </select>
        </div>
          
        <div class="input-field">
            <input type="number" onKeyPress="if(this.value.length>9) return false;" [(ngModel)]="UserMobile"  required>
            <label>Enter your Mobile Number</label>
        </div>
        <button type="submit" (click) = "GenerateOtp()">Get OTP</button>

        <br>
        <div class="input-field">
            <input type="password"  ngModel maxlength="4" [(ngModel)]="EnteredOTP" required>
            <label>Enter your OTP</label>
        </div>
        <div class="forget">
            <label for="remember">
                <input type="checkbox" id="remember">
                <p>Remember me</p>
            </label>
            <!-- <a href="#">Forgot password?</a> -->
        </div>
        <button type="submit" (click) = "VerifyOTP()" >Register</button>
        <div class="register">
            <p>Already Registered? Login Now! <button type="submit" (click)="GoToLoginPage()">Login</button></p>
        </div>
        {{sentOtp}}

    </div>
</div>
<br>