<!-- ======= Header ======= -->
<aside id="header" data-aos="fade-right" *ngIf="sidebar">
  <div >
    <div class="profile">
      <img src="/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Alex Smith</a></h1>
    </div>
    <!-- <br> -->
    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#hero" class="nav-link  active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a routerLink="profile" class="nav-link "><i class="bx bx-file-blank"></i> <span>Profile</span></a></li>
        <li><a routerLink="members" class="nav-link "><i class="bx bx-book-content"></i> <span>Members</span></a></li>
        <li><a routerLink="service" class="nav-link "><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a routerLink="customAlerts" class="nav-link "><i class="bx bx-user"></i> <span>Custom Alerts</span></a></li>
        <li><a routerLink="map" class="nav-link "><i class="bx bx-envelope"></i> <span>Map</span></a></li>
        <li><a routerLink="/logout" class="nav-link "><i class="bi bi-box-arrow-right"></i> <span>Logout</span></a></li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</aside>
<!-- End Header -->


<i class="bi bi-arrow-left-square-fill toogle" *ngIf="sidebar;  else elseblk;" (click)="togglebar()">
</i>
<ng-template   #elseblk>
  <i class="bi bi-arrow-right-square-fill toogle" style="left: 5px;" (click)="togglebar()"></i>
</ng-template>


<main id="main">
  <br>
  <router-outlet></router-outlet>
  <br>
  <app-facts></app-facts>
  <br>
  
</main>