<nav>
    <div style="float: left;  padding-top: 5px;">

      <span style="font-weight: bold; text-align: left;">
          <button (click)="sidebar()">
            <i class="icon bi bi-view-list"></i>
          </button>
        </span>
    </div>

    <div style="font-weight: bold;   float: left;  padding-top: 11px;">
        <span style="text-align: left;">
        <a class="bttn" routerLink="">
          <i class="icon bi bi-exclamation-octagon-fill"></i> Danger Alert System
        </a>
        </span>
    </div>



    <div style="width: 100%; text-align: right;  padding-top: 11px;">

      <!-- <span>
        <a class="bttn" routerLinkActive="actv" *ngIf="isDashboardValid" routerLink="dashboard">
            <i class="icon bi bi-house-door"></i> Dashboard
        </a>
      </span> -->

      <span >
        <a class="bttn" routerLinkActive="actv" routerLink="home">
            <i class="icon bi bi-house-door"></i> Home
        </a>
      </span>
      
      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="services">
            <i class="icon bx bx-server"></i> Services
        </a>
      </span>


      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="about">
            <i class="icon bx bx-user"></i> About Us
        </a>
      </span>

      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="contact">
          <i class="icon bx bx-envelope"></i> Contact Us
        </a>
      </span>

      <span >
        <a class="bttn" routerLinkActive="actv" routerLink="login">
            <i class="icon bi bi-box-arrow-in-right"></i> Login/Signup
        </a>
      </span>
  
    </div>
  
  </nav>



  <!-- <nav>
    <div>
      <span>
        <button onclick="sidebar()">
          <i class="icon bi bi-view-list"></i>
        </button>
      </span>
    </div>
  
    <div>
      <span>
        <a class="bttn" routerLink="">
          <i class="icon bi bi-exclamation-octagon-fill"></i> Danger Alert System
        </a>
      </span>
    </div>
  
    <div>
      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="home">
          <i class="icon bi bi-house-door"></i> Home
        </a>
      </span>
  
      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="services">
          <i class="icon bx bx-server"></i> Services
        </a>
      </span>
  
      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="about">
          <i class="icon bx bx-user"></i> About Us
        </a>
      </span>
  
      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="contact">
          <i class="icon bx bx-envelope"></i> Contact Us
        </a>
      </span>
  
      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="login">
          <i class="icon bi bi-box-arrow-in-right"></i> Login/Signup
        </a>
      </span>
    </div>
  </nav> -->
