<nav>
    <div style="float: left;  padding-top: 5px;">

      <span style="font-weight: bold; text-align: left;">
          <button (click)="sidebar()">
          <!-- <a class="bttn" routerLink="" (click)="sidebar()"> -->
            <i class="icon bi bi-view-list"></i>
            <!-- <i class="icon bi bi-list"></i> -->
          </button>
          <!-- </a> -->
        </span>
    </div>

    <div style="font-weight: bold;   float: left;  padding-top: 11px;">
        <span style="text-align: left;">
        <a class="bttn" routerLink="">
          <i class="icon bi bi-exclamation-octagon-fill"></i> Danger Alert System
        <!-- </button>  -->
        </a>
        </span>
    </div>



    <div style="width: 100%; text-align: right;  padding-top: 11px;">

      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="dashboard">
          <!-- <button value=dashboard > -->
            <i class="icon bi bi-house-door"></i> Dashboard
          <!-- </button> -->
        </a>
      </span>

      <span >
        <a class="bttn" routerLinkActive="actv" routerLink="home">
          <!-- <button value=home  (click)="ChangePage($event)"> -->
            <i class="icon bi bi-house-door"></i> Home
          <!-- </button> -->
        </a>
      </span>
      
      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="services">
        
          <!-- <button value=services (click)="ChangePage($event)"> -->
            <i class="icon bx bx-server"></i> Services
          <!-- </button> -->
        </a>
      </span>


      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="about">
        
          <!-- <button value=about (click)="ChangePage($event)"> -->
            <i class="icon bx bx-user"></i> About Us
          <!-- </button> -->
        </a>
      </span>

      <span>
        <a class="bttn" routerLinkActive="actv" routerLink="contact">
        
          <!-- <button value=contact (click)="ChangePage($event)"> -->
          <i class="icon bx bx-envelope"></i> Contact Us
          <!-- </button> -->
        </a>
      </span>

      <span >
        <a class="bttn" routerLinkActive="actv" routerLink="login">
          <!-- <button value=login  (click)="ChangePage($event)"> -->
            <i class="icon bi bi-box-arrow-in-right"></i> Login/Signup
          <!-- </button> -->
        </a>
      </span>
  
    </div>
  
  </nav>
