<div class="main">
    <header>
        <h1 style="font-size: 45px;">DANGER ALERT SYSTEM</h1>
    </header>
    
      <br><br><br><br><br>
    <section id="company-info">
        <h2>Welcome to our website!</h2>
        <p style="font-size: 25px;"> Empower Your Safety: Introducing the Danger Alert App for 
            Real-Time Danger Notifications and Preparedness</p>
    </section>
  </div>
    <section style="display: flex;">
      <section data-aos="fade-right" data-aos-duration="1000" id="mission-vision">
        <img src="/assets/images/home_image1.jpg" >
      </section>
  
        <section data-aos="fade-left" data-aos-duration="1000" id="mission-vision">
            <!-- <h2>Medical Emergencies & Help</h2> -->
            <br>
            <p id="p-content">
                In an ever-changing world, ensuring your safety is paramount. 
                Introducing the Danger Alert App, your ultimate companion in times of uncertainty. 
                Our app is meticulously designed to empower you with real-time danger notifications and reliable information, right at your fingertips. 
                Whether it's natural disasters, emergencies, or potential threats, we've got you covered.<br><br>
                
            </p>
        </section>
  
        
    </section>
  
  
    <section style="display: flex;">
      <section data-aos="fade-right" data-aos-duration="1000" id="mission-vision">
          <!-- <h2>Fire Alert Emergency</h2> -->
          <br>
          <p id="p-content">
                At Danger Alert, we believe that knowledge is your best defense. 
                Our app harnesses the power of advanced technologies to provide you with instant alerts based on your location, keeping you informed about potential hazards in your vicinity. 
                With a user-friendly interface and customizable settings, you can tailor the app to suit your preferences and stay informed about the risks that matter most to you.
                Your safety is non-negotiable, and with the Danger Alert App, you can navigate through life's uncertainties with confidence. 
                With this app today you embrace a new level of preparedness. Because when it comes to your safety, there's no compromise.

            <br><br>
            
          </p>
      </section>
  
      <section data-aos="fade-left" data-aos-duration="1000" id="mission-vision">
          <img src="/assets/images/home_image2.jpg" >
      </section>
    </section>
  
<!--   
      <section style="display: flex;">
  
        <section id="mission-vision">
          <img src="/assets/images/accident_image.jpg" >
      </section>
        <section id="mission-vision">
            <h2>Road Accidents Help</h2>
            <br>
            <p>
              An accident emergency refers to an unforeseen and critical situation resulting from an unexpected incident, such as a car crash, 
              industrial mishap, or personal injury. These emergencies demand immediate attention due to the potential for severe injuries, property 
              damage, or environmental hazards. Quick response and effective communication are crucial to mitigate risks and provide timely 
              medical assistance. Emergency services play a pivotal role in accident emergencies, deploying personnel and resources to the scene 
              to address injuries, secure the area, and manage the aftermath. Preparedness, rapid intervention, and coordinated efforts are essential 
              elements in managing accident emergencies and minimizing their impact.
              <br><br>
              Handling road accident emergencies can be significantly improved with the integration of alert apps, providing a streamlined 
              and rapid response system. When an accident occurs, these apps can automatically detect and report the incident, immediately 
              notifying emergency services. Users in the vicinity receive real-time alerts, facilitating quick responses from both authorities 
              and nearby individuals trained in first aid. The app can also guide users on providing immediate assistance, such as CPR instructions 
              or guidance on securing the accident scene. Furthermore, the app's geolocation features assist emergency services in precisely 
              locating the incident, expediting their arrival.
              <br><br>
              In addition, alert apps can enable users to upload photos or videos of the accident, offering valuable information for 
              emergency responders and insurance purposes. The platform can foster community support, allowing users to check on each other's 
              safety, share information about alternative routes, or coordinate traffic flow around the accident site. This collaborative approach 
              enhances overall road safety and accident management.
              <br><br>
              Ultimately, leveraging alert apps in road accident emergencies promotes swift communication, efficient coordination, and community engagement, 
              contributing to a more effective and empathetic response to these critical situations.
            </p>
        </section>
      
        
      </section>
  
  
      <section style="display: flex;">
        <section id="mission-vision">
            <h2>Report Criminal Activity</h2>
            <br>
            <p>
              A criminal activity emergency denotes a situation marked by unlawful behavior, threatening public safety and security. 
              This can range from violent crimes to theft, vandalism, or more. Handling such emergencies requires immediate response 
              from law enforcement, including the coordination of resources to contain, address, and resolve the criminal activity. 
              Public communication is paramount to ensure community awareness and cooperation. Emergency services deploy strategies to apprehend 
              suspects, secure affected areas, and protect citizens. Prevention efforts involve community policing, surveillance, and public 
              education to deter criminal activities. A swift, well-coordinated response is crucial to 
              safeguard lives, property, and maintain social order.
              <br><br>
              
              Addressing criminal activity emergencies can be significantly enhanced through the integration of alert apps, creating a dynamic 
              and responsive system. When criminal incidents occur, these apps can swiftly notify law enforcement and community members, providing 
              real-time information on the nature and location of the activity. Users can report suspicious behavior, share updates, and receive 
              guidance on ensuring personal safety. The app's geolocation features aid law enforcement in precisely pinpointing incidents, 
              expediting their response. Additionally, alert apps may include features for anonymous tip submission, encouraging community 
              involvement without fear of reprisal.
              <br><br>
              Moreover, these apps can disseminate emergency information widely, fostering a collective effort to ensure public safety. 
              Community members can contribute to crime prevention by staying informed, reporting incidents promptly, and cooperating with 
              law enforcement. The app may also integrate with surveillance systems or provide a platform for 
              sharing relevant photos or videos to aid investigations.
              <br><br>
              In summary, employing alert apps in criminal activity emergencies enhances communication, community engagement, and 
              collaboration with law enforcement, contributing to a more effective and proactive approach in addressing 
              and preventing criminal incidents.
            </p>
        </section>
      
        <section id="mission-vision">
            <img src="/assets/images/police_image.jpg" >
        </section>
      </section> -->
      <h2 style="margin-left: 35px;">Features</h2>
        <section id="team" style="display: flex; ">
            
            <div data-aos="flip-right" data-aos-duration="400" class="team-member">
                <h3>Timely Threat Detection</h3>
                <p>The system excels in promptly detecting potential dangers through advanced data 
                  analysis, ensuring users receive timely alerts for quick response.</p>
            </div>
            <div data-aos="flip-right" data-aos-duration="400" class="team-member">
                <h3>User-Friendly Interface and Privacy</h3>
                <p>The user-centric design of the system, particularly the User Login and 
                  Registration Module, provides a friendly experience, while robust privacy features in the User Data 
                  Management Module instil trust in data security.</p>
            </div>
            <div data-aos="flip-left" data-aos-duration="400" class="team-member">
                <h3>Effective Communication Channels</h3>
                <p>Utilizing diverse channels like SMS, push notifications, and emails, 
                  the User Notification Module ensures that critical alerts reach users, emergency services, and nearby 
                  individuals, enhancing communication in emergencies.
                </p>
            </div>
            <div data-aos="flip-left" data-aos-duration="400" class="team-member">
                <h3>Real-Time Location Tracking and Historical Analysis</h3>
                <p>The Location Tracking Module offers real-time 
                  tracking for situational awareness and historical data analysis, empowering users with insights and optimizing 
                  response strategies.</p>
            </div>
            <div data-aos="flip-right" data-aos-duration="400" class="team-member">
              <h3>Customizable Emergency Services Integration</h3>
              <p>The project allows users to tailor their 
                experience through customizable notifications, preferences, and profile management. Additionally, the 
                integration with emergency services ensures a coordinated and efficient response during critical situations.</p>
              
          </div>
          <div data-aos="flip-left" data-aos-duration="400" class="team-member">
            <h3>Management of user data</h3>
            <p>This is fundamental for securely storing and managing user information. This 
              module ensures the privacy and integrity of user data by implementing secure storage practices.
              Users are granted the ability to edit and update their information, maintaining the accuracy and relevance of their profiles 
              over time.</p>
            <!-- <button type="submit"> Read More</button> -->
        </div>
        </section>


  
      <h2 style="margin-left: 35px;">Services</h2>
        <section id="team">
            
            <div data-aos="flip-right" data-aos-duration="400" class="team-member">
                <h3>Medical Emergency</h3>
                <p>A medical emergency alert feature ensures swift response by instantly notifying emergency services. 
                  Users can call for assistance, share vital information, and receive guidance, 
                  optimizing aid during critical situations.</p>
                <button type="submit" routerLink="/services" fragment="medical"> Read More</button>
            </div>
            <div data-aos="flip-left" data-aos-duration="400" class="team-member">
                <h3>Fire Alert</h3>
                <p>A fire alert service delivers real-time notifications, guiding users with evacuation 
                  procedures and direct connections to emergency services. 
                  It enhances communication, aiding rapid response and reducing potential damages.</p>
                <button type="submit" routerLink="/services" fragment="fire"> Read More</button>
            </div>
            <div data-aos="flip-right" data-aos-duration="400" class="team-member">
                <h3>Road Accident</h3>
                <p>An alert app for road accidents enables immediate notification, connecting users with 
                  emergency services. It streamlines reporting, aids in swift response, and enhances coordination, 
                  crucial for minimizing harm and facilitating assistance.</p>
                <button type="submit"  routerLink="/services" fragment="accident"> Read More</button>
            </div>
            <div data-aos="flip-left" data-aos-duration="400" class="team-member">
                <h3>Criminal Activity</h3>
                <p>A criminal activity alert service empowers users to report incidents promptly, aiding law enforcement. Real-time updates and 
                  community engagement enhance safety, fostering a collaborative response to criminal emergencies.</p>
                <button type="submit" routerLink="/services" fragment="crimealert"> Read More</button>
            </div>
        </section>
      
  <!-- <footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </footer> -->
  
  
  
